<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <!-- navbar -->
    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">LOGO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            
          </ul>
          
        </div>
      </div>
    </nav> -->



    <div class="container mt-3">
      <div class="row">
        <div class="col-sm-6">
          <h1 class="alert alert-info text-center">Stock Search</h1>
          <form action="" method="POST" class="d-flex" role="search">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Enter Your Symbol" name="symbol" aria-label="Search" required>
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>


        <div class="col-sm-6">
          <h1 class="alert alert-info text-center">Info Tab</h1>
          <div>
            {% if symbol %}
            <h2> <i> {{symbol}} </i></h2>
            <h4>The last traded price was : {{ last_trade_price }} </h4>
            <!-- <table border="1px solid">
              <tr>
                <th>SYMBOL</th>
                <th>Date</th>
                <th>Open</th>
                <th>High</th>
                <th>Low</th>
                <th>Close</th>
              </tr>
              <tr>
                {% for d in data %}
                <td>{{ d }}</td>
                {% endfor %}
              </tr>
      
            </table> -->
      
            <h4>price change today : {{ price_change_today }} </h4>
      
            <br>
            <h4>OHLC with % price change in last 2 weeks</h4>
            {% endif %}
      
            <div>
              {% if data1 %}
              <table class="table table-hover text-center">
                <tr>
                  <th>Date</th>
                  <th>Open</th>
                  <th>High</th>
                  <th>Low</th>
                  <th>Close</th>
                  <th>percent_change</th>
                </tr>
                {% for i in data1 %}
                <tr>
                  <td>{{i.Date}}</td>
                  <td>{{i.Open}}</td>
                  <td>{{i.High}}</td>
                  <td>{{i.Low}}</td>
                  <td>{{i.Close}}</td>
                  <td>{{i.pct_price_change}}</td>
                </tr>
                {% endfor %}
              </table>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>